<article class="welcome">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nisi modi tempora error assumenda possimus
        molestias aut nesciunt, nemo nam odio, dolor quia soluta ipsa eos aliquam unde sequi eaque beatae obcaecati
        magni? Impedit at in sint magni repellat, ea animi eveniet neque mollitia a, reiciendis qui quos modi rerum
        optio sapiente error amet inventore facilis, tenetur esse fugiat aliquam asperiores. Alias ea nulla veritatis
        impedit earum ab, sint, culpa quaerat, facilis praesentium corporis. Nisi fugit sunt voluptas eaque, reiciendis
        consectetur eius quisquam perferendis eos consequatur. Et nulla fugiat enim sed necessitatibus quo ad provident
        ab, sit, corporis officia repudiandae.</p>
</article>